openapi: 3.1.0
info:
  title: SudoPdf - Do Pdf like you do UI
  description: Generate beautiful PDFs from HTML, URLs, or templates with powerful rendering options and webhook support 
  license:
    name: MIT
  version: 1.0.0
servers:
  - url: http://app.sudopdf.com/api/v1
security:
  - ApiKeyAuth: []
paths:
  /pdf/generate:
    post:
      description: Generate a single PDF
      parameters:
        - name: sync
          in: query
          description: Whether to generate the PDF synchronously. Not recomended for production use
          schema:
            type: boolean
            default: false
          required: false
      requestBody:
        description: PDF to generate
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PdfGenerateRequestBody'
        required: true
      responses:
        "200":
          description: PDF response (varies based on async parameter)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PdfResponse'
                  - $ref: '#/components/schemas/AsyncPdfResponse'
              examples:
                sync_response:
                  summary: Synchronous response (async=false)
                  value:
                    pdfUrl: "https://app.sudopdf.com/files/abc123.pdf"
                    status: "completed"
                    fileSize: 245760
                async_response:
                  summary: Asynchronous response (async=true)
                  value:
                    jobId: "job_abc123"
                    status: "processing"
                    webhookUrl: "https://your-app.com/webhook"
        "400":
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
webhooks:
  /pdf/generate/webhook:
    post:
      description: Webhook called when PDF generation completes (async mode only)
      requestBody:
        description: PDF generation completion notification
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookPayload'
      responses:
        "200":
          description: Return a 200 status to indicate that the webhook was received successfully
components:
  schemas:
    PdfResponse:
      type: object
      description: Synchronous PDF generation response
      required:
        - pdfUrl
        - status
      properties:
        pdfUrl:
          type: string
          format: uri
          description: Direct URL to the generated PDF
        status:
          type: string
          enum: [completed]
          description: Generation status
        fileSize:
          type: integer
          description: PDF file size in bytes
        generatedAt:
          type: string
          format: date-time
          description: Timestamp when PDF was generated
    AsyncPdfResponse:
      type: object
      description: Asynchronous PDF generation response
      required:
        - jobId
        - status
      properties:
        jobId:
          type: string
          description: Unique job identifier for tracking
        status:
          type: string
          enum: [processing, queued]
          description: Current job status
        webhookUrl:
          type: string
          format: uri
          description: Webhook URL for completion notification
        estimatedCompletionTime:
          type: integer
          description: Estimated completion time in seconds
    WebhookPayload:
      type: object
      description: Webhook payload sent when PDF generation completes
      required:
        - jobId
        - status
        - pdfUrl
      properties:
        jobId:
          type: string
          description: Job identifier that was returned in async response
        status:
          type: string
          enum: [completed, failed]
          description: Final job status
        pdfUrl:
          type: string
          format: uri
          description: URL to the generated PDF (only present if status is completed)
        error:
          type: string
          description: Error message (only present if status is failed)
        completedAt:
          type: string
          format: date-time
          description: Timestamp when job completed
    Error:
      required:
        - error
        - message
      type: object
      properties:
        error:
          type: integer
          format: int32
        message:
          type: string
    PdfGenerateRequestBody:
      type: object
      properties:
        templateId:
          type: string
          description: Unique Id of your template you like to render
        data:
          type: object
          required: true
          description: Any data that use inside the template. Prefer metadata if you are not planning to use that data inside template
        templateType:
          type: string
          enum:
            - react
        url:
          type: string
          description: You can pass a url directly and get the webpage rendered. 
          format: uri
        html:
          type: string
        metadata:
          type: object
          description: Data associated with this render but not used inside template. 
          
        renderOptions:
          $ref: '#/components/schemas/RenderOptions'
    RenderOptions:
      type: object
      description: Advanced rendering options for PDF generation
      properties:
        path:
          type: string
          description: File path where the PDF should be saved (server-side only)
        scale:
          type: number
          minimum: 0.1
          maximum: 2
          default: 1
          description: Scale factor for the PDF rendering (1 = 100%, 0.5 = 50%, 2 = 200%)
        displayHeaderFooter:
          type: boolean
          description: Whether to display header and footer on each page
        headerTemplate:
          type: string
          description: HTML template for the page header. Use placeholders like {{pageNumber}}, {{totalPages}}, {{date}}, {{title}}
        footerTemplate:
          type: string
          description: HTML template for the page footer. Use placeholders like {{pageNumber}}, {{totalPages}}, {{date}}, {{title}}
        printBackground:
          type: boolean
          description: Whether to print CSS backgrounds and images
        landscape:
          type: boolean
          description: Whether to render pages in landscape orientation
        pageRanges:
          type: string
          description: Page ranges to render (e.g., "1-3,5,8-10" or "1" for single page)
        format:
          type: string
          enum:
            - Letter
            - Legal
            - Tabloid
            - Ledger
            - A0
            - A1
            - A2
            - A3
            - A4
            - A5
            - A6
          description: Paper format for the PDF. Overrides width and height if specified
        width:
          type: string
          description: Page width in CSS units (e.g., "8.5in", "21cm", "800px")
        height:
          type: string
          description: Page height in CSS units (e.g., "11in", "29.7cm", "600px")
        margin:
          type: object
          description: Page margins in CSS units
          properties:
            top:
              type: string
              description: Top margin (e.g., "1in", "2.54cm", "20px")
            right:
              type: string
              description: Right margin (e.g., "1in", "2.54cm", "20px")
            bottom:
              type: string
              description: Bottom margin (e.g., "1in", "2.54cm", "20px")
            left:
              type: string
              description: Left margin (e.g., "1in", "2.54cm", "20px")
        preferCSSPageSize:
          type: boolean
          description: Whether to use CSS @page size instead of format/width/height
        timeout:
          type: integer
          description: Maximum time in milliseconds to wait for page load before generating PDF
        omitBackground:
          type: boolean
          description: Whether to omit the background graphics and only render the content
  securitySchemes:
    ApiKeyAuth: # arbitrary name for the security scheme
      type: apiKey
      in: header # can be "header", "query" or "cookie"
      name: X-API-KEY # name of the header, query parameter or cookie
    bearerAuth:
      type: http
      scheme: bearer
